$primary-font: 'Raleway', sans-serif;
$color: white;
$footer-bg-color: #4d4d4d;

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $footer-bg-color;
  #website-container{
    float: left;
    #website{
      line-height: 40px;
      margin: 10px;
      text-decoration: none;
      color: $color;
      font-family: $primary-font;
      font-size: 14px;
    }
  }
  #github-icon{
    float: right;
    height: 30px;
    margin: 5px 10px;
  }
}
