$primary-font: 'Raleway', sans-serif;
$spin-font: 'Bungee Inline', cursive;
$btn-color: #FF704D;
$btn-hover: #ff9980;
$btn-active: #ff3300;
$shadow: 0 2px 4px rgba(0,0,0,0.2);
$letter: #808080;
$color: white;
$turn-round-bg: #4d4d4d;

#gameboard-container{
  display: none;
  box-sizing: border-box;
  font-family: $primary-font;
  #phrase-hint-container{
    box-sizing: border-box;
    height: auto;
    text-align: center;
    #phrase-hint{
      margin: 10px;
      font-size: 16px;
      color: $color;
    }
  }
  #phrase-board-container{
    position: relative;
    padding: 0 10px 10px 10px;
    // display: flex;
    text-align: center;
    flex-flow: row wrap;
    height: 110px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    .phrase-letter-div{
      display: inline-block;
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      margin: 5px;
      padding-bottom: 5px;
      text-align: center;
      border-bottom: 2px solid white;
      .letter{
        margin: 0;
        line-height: 20px;
        color: $letter;
        font-size: 16px;
      }
    }
  }
  #turn-round-display-container{
    width: 100%;
    #turn-round-display-wrapper{
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      width: 348px;
      hight: 30px;
      padding: 10px 15px;
      color: $color;
      .current-turn{
        float: left;
        box-sizing: border-box;
        display: inline-block;
        width: 150px;
        padding: 3px;
        border-radius: 4px;
        text-align: center;
        background-color: $turn-round-bg;
        box-shadow: $shadow;
        #current-turn-name{
          margin: 0;
        }
      }
      .round-item{
        float: left;
        box-sizing: border-box;
        display: inline-block;
        background-color: red;
        width: 150px;
        padding: 3px;
        border-radius: 4px;
        text-align: center;
        background-color: $turn-round-bg;
        box-shadow: $shadow;
        #round{
          margin: 0;
        }
      }
    }
  }
  #contestants-spin-container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;
    #contestants-container{
      #contestants-table{
        box-sizing: border-box;
        border-collapse: collapse;
        width: 150px;
        border-radius: 4px;
        color: $color;
        background-color: #7094DB;
        box-shadow: $shadow;
        .table-row{
          text-align: center;
          .table-header{
            border-collapse: collapse;
            padding: 7px;
          }
          .contestant-name{
            border-collapse: collapse;
            padding: 7px;
          }
          .pts{
            border-collapse: collapse;
            padding: 7px;
          }
        }
      }
    }
    #spin-container{
      display: inline-block;
      padding: 0 5px;
      #spin-btn{
        box-sizing: border-box;
        height: 135px;
        width: 135px;
        background-color: $btn-color;
        border-radius: 50%;
        background-image: url('images/wof.png');
        background-size: cover;
        box-shadow: $shadow;
        font-family: $spin-font;
        cursor: pointer;
        color: $color;
        &:hover{
          background-color: $btn-hover;
        }
        &:active{
          background-color: $btn-active;
        }
        @keyframes spin {
          100% { -webkit-transform: rotate(1800deg); transform:rotate(1800deg);
          }
        }
        #spin-word-container{
          text-align: center;
          #spin-word{
            margin: 0;
            font-size: 24px;
            line-height: 135px;
          }
        }
      }
      #spin-result-container{
        height: 20px;
        width: 90px;
        text-align: center;
        #spin-result{
          margin: 0;
        }
      }
    }
  }
  #letters-solve-container{
    clear: both;
    padding: 0 10px;
    #letters-container{
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin: 5px;
      .letter-submit{
        box-sizing: border-box;
        display: inline-block;
        width: 150px;
      }
    }
    #solve-container{
      text-align: center;
      margin: 10px;
      #solve-puzzle{
        box-sizing: border-box;
        width: 310px;
        margin: auto;
      }
    }
    .submits{
      box-sizing: border-box;
      height: 50px;
      border-radius: 4px;
      background-color: $btn-color;
      box-shadow: $shadow;
      cursor: pointer;
      &:hover{
        background-color: $btn-hover;
      }
      &:active{
        background-color: $btn-active;
      }
    }
    .submits-text{
      margin: 0;
      line-height: 50px;
      color: $color;
    }
  }
}
