

#gameboard-container{
  display: none;
  box-sizing: border-box;
  #start-game{

  }
  #contestants-container{
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    .contestant{
      position: relative;
      height: 200px;
      width: 200px;
      padding: 0;
      margin: 10px;
      border: 1px solid black;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      text-align: center;
      .name{
        margin: 0;
        line-height: 80px;
        font-size: 30px;
      }
      .pts{
        margin: 0;
        line-height: 80px;
        font-size: 25px;
      }
    }
  }
  #gameplay-container{

  }
  #phrase-hint-container{
    position: relative;
    box-sizing: border-box;
    background-color: green;
    margin: 10px;
    height: auto;
    text-align: center;
    #phrase-hint{
      line-height: 80px;
    }
  }
  #phrase-board-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    background-color: lightblue;
    .phrase-letter-div{
      box-sizing: border-box;
      height: 80px;
      width: 80px;
      margin: 10px;
      background-color: red;
      text-align: center;
      border-bottom: 3px solid black;
      .letter{
        margin: 0;
        line-height: 80px;
        color: white;
        font-size: 40px;
      }
    }
    .phrase-space-div{
      box-sizing: border-box;
      height: 80px;
      width: 80px;
      margin: 10px;
      background-color: white;
      text-align: center;
    }
  }
}
