

#guessed-letters-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid gray;
  .guessed-letter-box{
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin: 10px;
    text-align: center;
    .guessed-letter{
      margin: 0;
      line-height: 40px;
      font-size: 20px;
    }
  }
}
