

#guessed-letters-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  box-sizing: border-box;
  margin: 10px;
  background-color: green;
  .guessed-letter-box{
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: gray;
    text-align: center;
    .guessed-letter{
      margin: 0;
      line-height: 40px;
      color: white;
      font-size: 20px;
    }
  }
}
