$logo-font: 'Bungee Shade', cursive;
$header-button-color: #7094DB;
$header-button-hover: #99b3e6;
$header-button-active: #2e5cb8;
$header-button-font: 'Raleway', sans-serif;
$shadow: 0 2px 4px rgba(0,0,0,0.2);
$header-bg-color: #4d4d4d;

#header{
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px solid black; // DEV
  background-color: $header-bg-color;
  #logo{
    float: left;
  }
  #logo-text{
    margin: 0 0 0 10px;
    line-height: 50px;
    font-size: 22px;
    font-family: $logo-font;
    color: white;
  }
  #new-game-btn{
    box-sizing: border-box;
    margin: 10px;
    height: 30px;
    width: 90px;
    float:right;
    border-radius: 2px;
    border: none;
    box-shadow: $shadow;
    background-color: $header-button-color;
    color: white;
    font-family: $header-button-font;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      background-color: $header-button-hover;
    }
    &:active{
      background-color: $header-button-active;
    }
  }
}
