$btn-color: #FF704D;
$btn-hover: #ff9980;
$btn-active: #ff3300;
$add-color: #7094DB;
$add-hover: #99b3e6;
$add-active: #2e5cb8;
$load-button-font: 'Raleway', sans-serif;
$shadow: 0 2px 4px rgba(0,0,0,0.2);
$contestant-font: 'Gochi Hand', cursive;


#load-game-container{
  box-sizing: border-box;
  font-family: $load-button-font;
  color: white;
  #add-player-container{
    height: auto;
    width: 300px;
    margin: auto;
    text-align: center;
    #start-page-message{
      font-size: 10px;
      font-style: italic;
    }
    #name-input{
      box-sizing: border-box;
      height: 60px;
      margin: 5px;
      padding: 5px;
      width: 200px;
      outline: none;
      border: none;
      border-radius: 4px;
      text-align: center;
      font-size: 20px;
      box-shadow: $shadow;
      font-family: $load-button-font;
    }
    .add-btn{
      box-sizing: border-box;
      height: 60px;
      width: 200px;
      margin: 5px;
      border-radius: 4px;
      box-shadow: $shadow;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 20px;
      background-color: $add-color;
      font-family: $load-button-font;
      &:hover{
        background-color: $add-hover;
      }
      &:active{
        background-color: $add-active;
      }
    }
    .load-btn{
      box-sizing: border-box;
      height: 60px;
      width: 200px;
      margin: 5px;
      border-radius: 4px;
      box-shadow: $shadow;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 20px;
      background-color: $btn-color;
      font-family: $load-button-font;
      &:hover{
        background-color: $btn-hover;
      }
      &:active{
        background-color: $btn-active;
      }
    }
    #added-contestants-container{
      align-items: center;
      #added-contestants{
        margin: 20px 0 0 0;
      }
      .added-contestant{
        margin: 0;
        font-family: $contestant-font;
        font-size: 50px;
      }
    }
    #load-game-btn{
      display: none;
    }
  }
}
