@import 'header';
@import 'loadgame';
@import 'startgame';
@import 'gameplay';
@import 'gameboard';
@import 'guesses';
@import 'footer';
@import 'modals';
$gameboard-bg-color: #808080;
$shadow: 0 2px 4px rgba(0,0,0,0.2);
body{
  box-sizing: border-box;
  margin: 0;
  #app-container{
    position: relative;
    box-sizing: border-box;
    margin: 20px auto;
    width: 350px;
    height: 600px;
    border-radius: 4px;
    box-shadow: $shadow;
    overflow: hidden;
    background-color: $gameboard-bg-color;
  }
}
